<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>gestionale-progetti</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error403.jsp</location>
	</error-page>
	<error-page>
		<error-code>429</error-code>
		<location>/error429.jsp</location>
	</error-page>
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	<filter>
		<filter-name>CORS</filter-name>
		<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
		<init-param>
			<param-name>cors.allowGenericHttpRequests</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowOrigin</param-name>
			<param-value>http://127.0.0.1:4200</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowSubdomains</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>cors.supportedMethods</param-name>
			<param-value>GET, POST, PUT, DELETE</param-value>
		</init-param>
		<init-param>
			<param-name>cors.supportedHeaders</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.supportCredentials</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>cors.maxAge</param-name>
			<param-value>3600</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CORS</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>DipendenteAPI</servlet-name>
		<servlet-class>eu.tasgroup.gestione.restcontroller.DipendenteAPI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DipendenteAPI</servlet-name>
		<url-pattern>/api/dipendente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProgettoAPI</servlet-name>
		<servlet-class>eu.tasgroup.gestione.restcontroller.ProgettoAPI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProgettoAPI</servlet-name>
		<url-pattern>/api/progetto</url-pattern>
	</servlet-mapping>
</web-app>