<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>gestionale-progetti</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error403.jsp</location>
	</error-page>
	<error-page>
		<error-code>429</error-code>
		<location>/error429.jsp</location>
	</error-page>
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	<filter>
		<filter-name>JwtAuthenticationFilter</filter-name>
		<filter-class>eu.tasgroup.gestione.filter.JwtAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JwtAuthenticationFilter</filter-name>
		<url-pattern>/api/dipendente/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JwtAuthenticationFilter</filter-name>
		<url-pattern>/api/progetto/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JwtAuthenticationFilter</filter-name>
		<url-pattern>/api/pagamento/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>DipendenteAPI</servlet-name>
		<servlet-class>eu.tasgroup.gestione.restcontroller.DipendenteAPI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DipendenteAPI</servlet-name>
		<url-pattern>/api/dipendente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProgettoAPI</servlet-name>
		<servlet-class>eu.tasgroup.gestione.restcontroller.ProgettoAPI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProgettoAPI</servlet-name>
		<url-pattern>/api/progetto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PagamentoAPI</servlet-name>
		<servlet-class>eu.tasgroup.gestione.restcontroller.PagamentoAPI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PagamentoAPI</servlet-name>
		<url-pattern>/api/pagamento</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginJWTServlet</servlet-name>
		<servlet-class>eu.tasgroup.gestione.restcontroller.LoginJWTServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginJWTServlet</servlet-name>
		<url-pattern>/api/login</url-pattern>
	</servlet-mapping>
</web-app>
